<div class="nav-area">
    <ul class="nav-item-wrapper">
        <ng-container *ngFor="let navItem of navItems">
            <li class="nav-item" 
                [routerLink]="navItem.url"
                [routerLinkActiveOptions]="{exact:true}"
                routerLinkActive="active-route"
            >
                <!-- <mat-icon>{{navItem.icon}}</mat-icon> -->
                <mat-icon routerLinkActive="active-route" [svgIcon]="navItem.icon">{{navItem.icon}}</mat-icon>
                <div class="indicator" routerLinkActive="active-route"></div>
            </li>
        </ng-container>
    </ul>
</div>

