.nav-item-wrapper {
    display: flex;
    width: 100%;
    max-width: 600px;
    height: var(--nav-height);
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto !important;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

}

.nav-area {
    display: flex;
    width: 100%;
    border-top: 1px solid #eee;
    height: calc(var(--nav-height));
    z-index: 1000;
    position:fixed;
    padding-bottom:env(safe-area-inset-bottom);
    background-color: white;
    bottom: 0;
}

.nav-item {
    display:flex;
    flex: 0 0 20%;
    height: 100%;
    color: grey;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    outline: none;
    box-shadow: none;
}

.indicator {
    background-color: transparent;
    height: 6px;
    width: 6px;
    margin-top: 5px;
    border-radius: 50%;
}

.indicator.active-route {
    background-color: var(--primary-color);
}

mat-icon {
    // color: var(--primary-color) !important;
    // fill: var(--primary-color) !important;
    height: 22px;
    width: 22px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: black;
    margin-top: 12px;
}

// mat-icon.active-route{
//     stroke: var(--primary-color);
// }

