.nav-item-wrapper {
    display: flex;
    width: 100%;
    max-width: 600px;
    height: 100%;
    flex-wrap: wrap;
}

.logo {
    height: 17px;
    width: 17px;
}

.nav-area {
    display: flex;
    width: 100%;
    // border-top: 1px solid #eee;
    height: var(--nav-height);
    
    z-index: 1000;
    position:fixed;
    // padding-top:env(safe-area-inset-bottom);
    top: 0;
    backdrop-filter:blur(10px);
}

.left {
    display: flex;
    flex: 0 0 25%;
    height: 100%;
    justify-content: start;
    padding-left: 1em;
    align-items: center;
}

.center {
    display: flex;
    flex: 0 0 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex: 0 0 25%;
    height: 100%;
    justify-content: end;
    padding-left: 1em;
    align-items: center;
}
