.spinner {
    height: 75px;
    width: 75px;
    display: flex;
}

.loading-spinner-area {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 10000;
}