<div class="background"></div>
<div class="container" *ngIf="myInfo">
    <div class="header">
        <div class="title">
            <h1>Key</h1>
        </div>
        <div class="keys">
            <div class="count">
                <h1>
                    {{myInfo.tokens}}
                </h1>
            </div>
            <div class="label">
                Remaining
            </div>
        </div>
    </div>
    <div class="key-description">
        Enter open bids with your keys
    </div>
</div>
<div class="key-images-container" *ngIf="artworks && loadedImageCount === artworks.length">
    <ng-container *ngFor="let aw of artworks; let i = index">
        <div class="key-image-wrapper">
            <!-- <app-img-box [img]="aw.img"></app-img-box> -->
            <img class="key-image" [src]="aw.img.src">
            <div class="key-image-bottom">
                <div class="key-image-title">
                    {{aw.name}}
                </div>
                <button class="key-image-button">Enter Bid</button>
            </div>
            
        </div>
    </ng-container>
</div>
<div class="alert-area" (click)="onKeyClicked()" [ngClass]="isKeyClicked?'clicked':''">
    <div class="alert-toggle">
        <mat-icon svgIcon="key" class="key-icon"></mat-icon>
    </div>
    <div class="alert">
        <!-- <div class="word">The "currency" that is being used in Musee, where artists can upload art with key, and users can vote in Musee competition and join the bidding process to purchase artworks</div> -->
        
        
        <div class="description">
            <p>The "currency" that is being used in Musee, where artists can upload art with key, and users can vote in Musee competition and join the bidding process to purchase artworks</p>
            <p>Collect more keys by joining our verification process!</p>
        </div>
        <button class="key-image-button verify" (click)="openModal()">Verify Artworks</button>
        <button class="key-image-button purchase">Purchase more Keys</button>
    </div>
</div>
