.user-container {
    display:flex;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 0 auto;
    flex-direction: column;
}

.img-box-container {
    display: flex;
    flex-wrap: wrap;

}

.img-box {
    flex: 0 0 33.3333%;
    height: 150px;
    object-fit: contain;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0 0.5em 0;
    img {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
    }
    .message {
        position: absolute;
    }
}

.logout {
    margin-top: 0.5em;
    width: 50%;
    height: 40px;
    outline: none;
    -webkit-appearance: none;
    font-size: 14px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--primary-color);
    // border: 1.5px solid var(--primary-color);
    color: white;
    border: none;
}


