img {
    max-width: 100%;
    height: auto;
}

.horizontal img{
    width: 100%;
    object-fit: contain;
}

.vertical img{
    width: 100%;
    object-fit: contain;
}

// .vertical img {
//     width: 50%;
//     height: 200px; /* Adjust this based on your requirements */
//     object-fit: fill;
// }