.item {
    width: calc(var(--html-width) - 2em);
    height: calc(var(--html-width) - 2em);
    border: 1px solid #eee;
    margin: 20px auto;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
    user-select: none;
    touch-action: pan-y; /* This ensures vertical scrolling is not affected */
    border-radius: 0.5em;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    object-fit: contain;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    max-height: 600px;
}

.aw-img {
    max-width: 100%;
    display: flex;
    // border-radius: 0.5em;
    max-height: 100%;
    margin: auto;

}