.modal-overlay {
    display: flex;
    width: var(--html-width);
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    // backdrop-filter: blur(3px);
    z-index: 10000;
    justify-content: center;
    align-items: center;
}

.modal-container {
    display: flex;
    max-width: 800px;
    width: calc(100% - 2em);
    height: calc(var(--html-height) - var(--nav-height) * 5);
    background-color: white;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 auto;
    // flex-wrap: wrap;
    // justify-content: center;
    

}

.top-area {
      
    display: flex;
    width: 100%;
    // justify-content: space-between;
    padding: 0.5em 1em 0 1em;
    // flex-wrap: wrap;
    // .title {
    //     text-align: center;
    // }
};

.modal-content {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.title-container {
    // flex: 0 0 60%;
    display: flex;
    width: 60%;
}

.close-button {
    height: 50px;
    font-size: 24px;
    // width: 50px !important;
    // position: absolute;
    display: flex;
    align-items: center;
    // flex: 0 0 20%;
    width: 20%;
    justify-content: end;
    padding-right: 1em;

}

.placeholder {
    height: 50px !important;
    font-size: 24px !important;
    // width: 50px !important;
    // position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex: 0 0 20%;
    width: 20%;
    color: transparent;

}