:host {
    height: var(--html-height);
    width: var(--html-width);
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
}