
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@font-face {
  font-family: 'Vogue';
  src: url('assets/fonts/Vogue.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Made Tommy';
  src: url('assets/fonts/made_tommy_Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$musee-primary: mat.define-palette(mat.$indigo-palette);
$musee-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$musee-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$musee-theme: mat.define-light-theme((
  color: (
    primary: $musee-primary,
    accent: $musee-accent,
    warn: $musee-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($musee-theme);

/* You can add global styles to this file, and also import other style files */

* {
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  
}

*::-webkit-scrollbar {
  display:none;
}

:root {
  // --primary-color: #9482af;
  --primary-color: #FF4726;
  --primary-dark-color: #FF4726;
  --primary-color-2: #FF6448;
  --primary-color-3: #FF907C;
  --primary-color-4: #FFC9BF;
  // --secondary-color: #d4bfe0;
  // --secondary-color: #b4a0c7;
  --secondary-color: #735f90;
  --tertiary-color: #ede0ff;
  --other-color: #fff;
  --nav-item-color: #aaa;
  --nav-logo-ratio: 0.7;
  --nav-height: 53px;
}

html, body { height: 100%; }
body { 
  margin: 0; font-family: "Made Tommy" }

.no-pointer-events {
  pointer-events: none;
}

.cdk-overlay-container {
  z-index: 1000000!important;
}

::ng-deep .custom-snackbar {
  height: 150px;
}

.mat-mdc-snack-bar-container {
  &.custom-snackbar {
    --mdc-snackbar-supporting-text-color: var(--primary-color);
    --mat-mdc-snack-bar-button-color: var(--primary-color);
    --mat-mdc-button-persistent-ripple-color: white;

  }
}