
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$musee-primary: mat.define-palette(mat.$indigo-palette);
$musee-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$musee-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$musee-theme: mat.define-light-theme((
  color: (
    primary: $musee-primary,
    accent: $musee-accent,
    warn: $musee-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($musee-theme);

/* You can add global styles to this file, and also import other style files */

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  // --primary-color: #9482af;
  --primary-color: rgb(239, 155, 0);
  // --secondary-color: #d4bfe0;
  // --secondary-color: #b4a0c7;
  --secondary-color: #735f90;
  --tertiary-color: #ede0ff;
  --other-color: #fff;
  --nav-item-color: #aaa;
  --nav-logo-ratio: 0.7;
  --nav-height: 56px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
