.container {
    display: flex;
    width: 100%;
    padding: 10px 1em 50px 1em;
    flex-direction: column;
    
}

.row {
    width: 100%; 
    color: black; 
    font-size: 24px; 
    font-family: "Made Tommy"; 
    font-weight: 400; 
    word-wrap: break-word;
    display: flex;
}